
top_n = 0

feature_functions = [
	{class=LanguageModel, lm_type=berkeleylm, lm_order=5, lm_file=src/test/resources/berkeley_lm/lm, oov_feature=true},
	{class=OOVPenalty}
]

grammars = [
	{class=TextGrammar, owner=pt, span_limit=12, path=src/test/resources/kbest_extraction/grammar},
	{class=TextGrammar, owner=glue, span_limit=-1, path=src/test/resources/kbest_extraction/glue-grammar}
]


# Model Weights ####

weights = {
	lm_0 = 0
	lm_0_oov = 1
	OOVPenalty = 1
	pt_0 = 0
	glue_0 = 0
}