feature-function = LanguageModel -lm_type berkeleylm -lm_order 5 -lm_file src/test/resources/berkeley_lm/lm -oov_feature

tm = thrax -owner pt -maxspan 12 -path src/test/resources/kbest_extraction/grammar
tm = thrax -owner glue -maxspan -1 -path src/test/resources/kbest_extraction/glue-grammar

top-n = 0

#feature_function = WordPenalty
feature_function = OOVPenalty

# Model Weights ####

lm_0 0
lm_0_oov 1
OOVPenalty 1
tm_pt_0 0
tm_glue 0
