feature_functions = [
	{class=WordPenalty},
	{class=OOVPenalty}
]

grammars = [
	{class=TextGrammar, owner=pt, span_limit=20, path=src/test/resources/decoder/lowercaser/grammar.test},
	{class=TextGrammar, owner=glue, span_limit=-1, path=src/test/resources/decoder/lowercaser/grammar.glue}
]

weights = {
	WordPenalty = -4.72455379476569
	OOVPenalty = 0.7897219562429866
	tm_pt_0 = 0.3137696816891433
	tm_glue_0 = -0.04493059277470993
}

