feature_functions = [
	{class=StateMinimizingLanguageModel, lm_type=kenlm, lm_order=5, lm_file=src/test/resources/kbest_extraction/lm.gz},
	{class=OOVPenalty}
]

grammars = [
	{class=TextGrammar, owner=pt, span_limit=12, path=src/test/resources/kbest_extraction/grammar},
	{class=TextGrammar, owner=glue, span_limit=-1, path=src/test/resources/kbest_extraction/glue-grammar}
]

mark_oovs=false

default_non_terminal=X
goal_symbol=GOAL

#pruning config
pop_limit=100

#nbest config
use_unique_nbest=true
top_n = 3126


# Model Weights ####

weights = {
	lm_0 = 1
	pt_0 = 1
	glue_0 = 1
	OOVPenalty = 10000
}
